<html>
  <head>
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
    <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/bootswatch/3.3.5/flatly/bootstrap.min.css">
  </head>
  <body style="margin-bottom: 50px;">
    <div class="jumbotron">
      <div class="container text-center">
        <h1>CalendarApp</h1>
        <h2>(authorization code grant - Node.js)</h2>
      </div>
    </div>
    {{{ body }}}
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/1.11.3/jquery.js"></script>
    <script src="//cdn.auth0.com/w2/auth0-6.js"></script>
    {{{ block 'scripts' }}}
  </body>
</html>
