<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-9">
      <h2>Authorization</h2>
        <p>Request authorization from "Organizer" to access your appointments.</p>
        <div>
          <a href="/auth/organizer" class="btn btn-info">Sign In with Organizer</a>
        </div>
      </h2>
    </div>
  </div>
</div>
