<div class="container">
  <div class="row">
    <div class="col-sm-12 col-md-9">
      <h2>Actions</h2>
      <a href="/account" class="btn btn-default" style="margin-right: 10px;">My Account</a>
      <a href="/appointments" class="btn btn-success" style="margin-right: 10px;">Get Appointments from OrganizerApp</a>
      <a href="/tasks" class="btn btn-info" style="margin-right: 10px;">Get Tasks from OrganizerApp</a>

      <h2>Tasks</h2>
      <p>This is the response we received from Oranizer when trying to get the tasks for your account. Remember that you did not give consent for tasks, so CalenderApp should not be allowed to access this data.</p>
      <pre>{{ tasks }}</pre>
    </div>
  </div>
</div>
